body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.back-button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    align-self: flex-start;
}


.slider-container {
  position: relative;
  width: 80%; /* Adjust the initial width here */
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #ccc;
}

.before,
.after {
    position: absolute;
    width: 100%;
    height: 100%;
}

.before img,
.after img {
    width: 100%; /* Set the width to 100% */
    height: auto; /* Set the height to auto */
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-drag: none;
}



.after {
    clip-path: inset(0 50% 0 0);
}

.slider {
    position: absolute;
    top: 0;
    left: calc(50% - 2px);
    width: 8px;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7); /* 0.5 is the transparency level (0 to 1) */
    cursor: ew-resize;
    z-index: 1;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

